<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab App</title>
    <!-- css -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/relatorios.css">

</head>
<body>
  <div class="container">
      <header>
        <a href="/" class="logo">
          <img src="/assets/logo-horizontal.png" alt="logo do laboratorio">
        </a><!-- logo -->
      </header>

      <main>
        <h1>Relatório de Prestação de serviços</h1>
        <div class="filters">
          <select class="clinic" id="clinic" name="clinic">
            <option value="1">Selecione a Clínica:</option>
            <option value="3">Amor Saúde</option>
            <option value="2">Cia do Sorriso</option>
          </select>

          <div class="period">
            <div class="initial-date">
              <label for="initial-date">De: </label>
              <input type="date" id="initial-date" name="initial-date">
            </div> <!-- initial-date -->

            <div class="final-date">
              <label for="final-date">Até: </label>
              <input type="date" id="final-date" name="final-date">
            </div> <!-- final-date -->
          </div>
          
        </div>

        <div class="services">

          <div class="services-header">
            <h6>DATA</h6>
            <h6>QTD.</h6>
            <h6>SERVIÇO</h6>
            <h6>DENTISTA</h6>
            <h6>PACIENTE</h6>
            <h6>+</h6>
            <h6>OBS:</h6>    
          </div>
          <!-- Loop through prices -->
          <% for(var i = 0; i < services.length; i++) {%>
              <div class="service">
                  <h6><%= services[i].conclusionDate %></h6>
                  <h6><%= services[i].quantity %></h6>
                  <h6><%= services[i].service %></h6>
                  <h6><%= services[i].dentist %></h6>
                  <h6><%= services[i].patient %></h6>
                  <h6><%= services[i].additionalCost %></h6>
                  <h6><%= services[i].additionalDescription %></h6>
              </div>
          <% } %>
        </div>

        <div class="subtotal">
          <h2>TOTAL: </h2>
          <h3>R$ 3.000,00</h3>
        </div>

        <div class="bottom-bar">
          <a href="/novo-item" class="export">
              <h3>&#10004</h3>
          </a><!--new-item-->
        </div>
      </main>

  </div>
</body>
</html>